<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logsforairplaneservicef" xsi:type="File" fileName="${basedir}/Logs/Logs_For_Airplane_Service.txt" />
    <target name="logsformotionf" xsi:type="File" fileName="${basedir}/Logs/Logs_For_Motion.txt" />
    <target name="logsforpassengerf" xsi:type="File" fileName="${basedir}/logs/logs_for_passenger" />
    <target name="logsforerrorsf" xsi:type="File" fileName="${basedir}/logs/logs_for_errors.txt" />
    <target name="target1" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logsforairplaneservicef" >
      <filters defaultAction='Log'>
        <when condition="contains('${message}','airplane')==false" action="Ignore"/>
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="logsformotionf" >
      <filters defaultAction='Log'>
        <when condition="contains('${message}','vertex')==false" action="Ignore"/>
      </filters>
    </logger>
  </rules>
</nlog>