<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.Loggly" />
  </extensions>
  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
  <targets async="true">
    <target name="ColorConsole" xsi:type="ColoredConsole" layout="${DefaultLayout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole,Loggly" />
  </rules>
</nlog>